<div>
  <app-navigation-bar (openSidenav)="toggleSidenav()"></app-navigation-bar>
  <mat-sidenav-container>
    <mat-sidenav #drawer>
      <div>
        <ng-container *ngIf="runs.length > 0">
          <ng-container *ngFor="let run of runs">
            <app-saved-run-card
              class="saved-run-card"
              [run]="run">
            </app-saved-run-card>
          </ng-container>
        </ng-container>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
