.dashboard-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Full viewport height
}

.new-run-button {
    width: 100px;
    height: 100px;
    border-radius: 30px;

    .add-new-icon {
        margin-left: 0px;
        margin-right: 0px;
        font-size: 28px;
        width: auto !important;
        height: auto !important;
    }
}