# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Python cache files

/app/__pycache__
/app/models/__pycache__
/app/repositories/__pycache__
/app/routers/__pycache__
/app/services/__pycache__
/app/serializer/__pycache__
/app/utils/__pycache__


/**.pyc