<div class="saved-run-card">
  <div class="card-header">
    <h3>{{ run.name }}</h3>
  </div>
  <div class="card-content">
    <!-- <ng-container *ngIf="run.modifiedAt && run.createdAt">
        <p>Last Updated: {{ formatDateToLocal(run.modifiedAt) }}</p>
        <p>Created: {{ formatDateToLocal(run.createdAt) }}</p>
    </ng-container> -->
    <p>Last Updated: {{ formatDateToLocal(run.modifiedAt) }}</p>
    <p>Created: {{ formatDateToLocal(run.createdAt) }}</p>
  </div>
  <div class="card-footer">
  </div>
