<ng-container *ngIf="runs.length > 0">
  <mat-checkbox
    *ngIf="locationTypes.length > 0"
    [checked]="allSelected"
    (change)="toggleAllLocationTypes($event.checked)">
    Select All
  </mat-checkbox>
  <div class="location-type-checkbox-container">
    <ng-container *ngFor="let locationType of locationTypes">
      <mat-checkbox [checked]="selectedLocationTypes.includes(locationType)"
        (change)="toggleLocationType(locationType, $event.checked)">
        {{ locationType.displayName }}
      </mat-checkbox>
    </ng-container>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let region of regions">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ region.displayName }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="location-checkbox-container">
        <ng-container *ngFor="let location of getLocationsForRegion(region)">
          <div class="location-checkbox-group">
            <mat-checkbox class="location-dropdown" [(ngModel)]="location.selected">{{ location.displayName }}</mat-checkbox>
            <ng-container *ngIf="location.selected">
              <input matInput placeholder="Select an option" [matAutocomplete]="auto" [formControl]="location.formControl!">
              <mat-autocomplete #auto="matAutocomplete" class="location-select" placeholder="Select an option" [displayWith]="displayFn">
                <mat-option *ngFor="let item of items$ | async" [value]="item">{{ item.displayName }}</mat-option>
              </mat-autocomplete>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>